* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Mono', monospace, Arial, Helvetica, sans-serif;
} 


body {
    background: rgb(24, 2, 2);
    overflow-x: hidden;
}

header {
    align-items: center;
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.459) 100%, transparent), url(../imagens/burger-gif.gif);
    background-size: cover;
    background-position: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    border-bottom: 2px solid rgb(19, 2, 2);
    box-shadow: 0px .5px 30px rgb(53, 45, 45);
}

a {
    text-decoration: none;
}

.menu {
    background: rgb(82, 17, 17);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    border-bottom: 1px solid rgb(247, 253, 138);
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: rgb(247, 253, 138);
    display: block;
    border-radius: 20px;
    padding: 10px 25px;
    text-decoration: none;
    animation: menu 1.8s;
    font-size: 15px;
    text-align: center;
}

.menu a:active,
.menu a:hover {
    background: rgb(246, 253, 138);
    color: rgb(37, 0, 0);
    transition: .5s;
}

@keyframes menu {
    0% {transform: translateY(-100px);};
    100% {transform: translateY();}
}

.title,
.subtitle {
    color: rgb(246, 253, 138);
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 6px 10px 5px rgb(32, 7, 7);
}

.title {
    font-size: 60px;
    font-family: 'DM Mono', cursive;
    animation: titulo 2s;
}

.subtitle {
    font-family: 'Indie Flower', cursive;
    font-size: 14px;
    animation: subtitulo 2s;
}

@keyframes titulo {
    0% {
        transform: translatex(-500px) translateY(-100px);
        opacity: 0;
    };
    100% {
        transform: translateY();
    }
}

@keyframes subtitulo {
    0% {
        transform: translatex(500px) translateY(100px);
        opacity: 0;
    };
    100% {
        transform: translateY();
    }
}

@media (min-width: 800px) {

    .title {
        font-size: 50px;
    }

    .subtitle {
        font-size: 30px;
    }

    .menu a {
        font-size: 20px;
        padding: 10px 80px;
    }
}

@media (min-width: 1200px) {
    .title {
        font-size: 70px;
    }

    .subtitle {
        font-size: 35px;
    }

    .menu a {
        font-size: 20px;
        padding: 15px 115px;
    }
}

.promocao {
    background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.322) 99%, transparent 1%), url(../imagens/lanche-frontend.jpg);
    background-size: cover;
    background-position: center;
    width: 85vw;
    height: 200px;
    border-radius: 20px;
    border: 1.2px solid black;
    box-shadow: 6px 6px 15px rgb(129, 136, 32);
    margin: 40px auto;
    margin-bottom: -20px;
}

.promo-content {
    position: relative;
    height: 80%;
    width: 50%;
    margin-top: 20px;
    margin-left: 50%;
    text-align: center;
    color: white;
}

.promo-content h1{
    animation: promo 2s infinite ease-in-out both;
    font-size: 30px;
    margin-bottom: 20px
}

.promo-content h2{
    color: whitesmoke;
    font-size: 20px;
}

.promo-content h2 b{
    animation: preco 2s infinite;
}

@keyframes preco {
    0%{}
    50%{
        color: #00d111;
        transform: scale(10);
    }
    100%{}
}


.promo-cardapio {
    margin-top: 100px;
}

.header-promo {
    margin-top: 60px;
    margin-bottom: 90px;
}

@keyframes promo {
    0%{}
    25%{
        color: yellow;
    }
    50%{
        transform: rotate(2deg) scale(1.1);
        color: rgb(230, 105, 105);
    }
    75% {
        color: yellow
    }
    100% {
        transform: none;
        color: rgb(230, 105, 105);
    }
}



@media (min-width: 800px){
    .promocao{
        height: 300px;
    }
    
    .promo-content h1{
        margin-top: 30px;
        font-size: 40px;
    }

    .promo-content h2 {
        margin-top: 50px;
        font-size: 23px;
    }
}

@media (min-width: 1200px){
    .promo-content{
        height: 350px;
    }

    .promo-content h1{
        margin-top: 50px;
        font-size: 50px;
    }

    .promo-content h2 {
        font-size: 27px;
    }
}



.cardapio {
    padding: 2em;
}

.carrinho h2,
.cardapio h2 {
    text-align: center;
    font-size: 40px;
    color: whitesmoke;
    margin-bottom: 30px;
    margin-top: 50px;
}


.cardapio .img-cardapio {
    border-radius: 15px;
    width: 80vw;
    height: 300px;
    object-fit: cover;
    object-position: center top;
}

.cardapio .img-cardapio:active,
.cardapio .img-cardapio:hover {
    transform: scale(1.1) rotate(2deg);
    transition: .3s;
}


.cardapio figure {
    text-align: center;
    color: rgb(237, 241, 176);
    font-size: 23px;
}

.cardapio .grid {
    display: grid;
    gap: 5em;
}


@media (min-width: 800px) {
    .cardapio .img-cardapio {
        height: 200px;
        object-fit: cover;
        object-position: center;
        width: 350px;
    }

    .cardapio .grid {
        grid-template-columns: 350px 350px;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .cardapio .grid {
        grid-template-columns: 350px 350px;
    }

}


hr {
    width: 80vw;
    margin: auto;
}

.lanches a{
    color: rgb(61, 6, 6);
}

.lanches-menu {
    padding: 20px;
    background: rgb(249, 255, 171);
    color: rgb(61, 6, 6);
    font-family: 'Indie Flower', cursive;
    text-align: center;
    border-radius: 20px;
    border: 2px solid black;
    width: 85vw;
    margin: 50px auto;
    box-shadow: 5px 5px 10px rgb(156, 152, 152);
}

.bloco {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.lanches h1 {
    font-size: 30px;
}

.lanches h2 {
    font-size: 20px;
}

.lanches-menu hr {
    position: relative;
    width: 95%;
    height: 4px;
    background: black;
}

@media (min-width: 800px){
    .lanches h1 {
        font-size: 35px;
    }
    
    .lanches h2 {
        font-size: 25px;
    }

    .lanches p {
        font-size: 18px;
    }

    footer {
        height: 70px;
        font-size: 18px;
        background: #eee;
        text-align: center;
        padding-top: 10px ;
    }
}

@media (min-width: 1200px){
    .lanches p {
        font-size: 20px;
    }
}

.lanches h2 div{
    text-align: right;
    float: right;
}

@media (min-width: 1600px){
    .lanches-menu .bloco{
        text-align: center;
    }

    .lanches-menu{
        width: 800px;
    }

    .debug{
        width: 1000px;
    }
    
}              

.back {
    margin: 250px auto;
    margin-bottom: 50px;
    width: 30px;
    height: 30px;
    border-left: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    transform: rotate(45deg);
} 

.back-2{
    margin: 50px auto;
    margin-bottom: 50px;
    width: 30px;
    height: 30px;
    border-left: 2px solid whitesmoke;
    border-top: 2px solid whitesmoke;
    transform: rotate(45deg);
}

.carrinho-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 1em;
    height: 500px;
    justify-content: space-evenly;
}

.carrinho-container h2{
    color: rgb(82, 17, 17);
    font-size: 25px;
    background: rgb(240, 243, 198);
    border: 1px solid black;
    border-radius:20px;
    padding: 10px;
}

.carrinho-container hr {
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 80px;
    height: 5px;
    background: black;
}

.carrinho-title {
    background: transparent;
    font-size: 35px;
}

.total h2{
    text-align: left;
    font-size: 28px;
}


.pagamento h3{
    margin-top: 60px;
    margin-bottom: 25px;
    font-size: 25px;
}

.pagamento-metodos{
    text-align: left;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.pagamento input {
    margin-bottom: 15px;
}

@media (min-width: 800px){
    .carrinho-container h2{
        font-size: 32px;
    }

    .carrinho-grid {
        grid-template-columns: 450px 200px;
        gap: 2em;
        height: 500px;
    }
    
    .total h2{
        text-align: left;
        font-size: 32px;
    }

    .pagamento h3{
        font-size: 30px;
    }

    .pagamento-metodos{
        margin-left: 50%;
        transform: translate(-50%);
        width: 230px
    }
}

@media (min-width: 1200px){
    .carrinho-container h2{
        font-size: 32px;
    }

    .carrinho-grid {
        grid-template-columns: 600px 250px;
        gap: 2em;
        height: 500px;
    }
    
    .total h2{
        text-align: left;
        font-size: 32px;
        height: 80px;
    }
}


.pedir a{
    position: absolute;
    background: rgb(11, 145, 18);
    color: white;
    font-size: 18px;
    padding: 30px 50px;
    margin-top: 5px;
    margin-bottom: 60px;
    margin-left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    overflow: hidden;
    border-radius: 10px;
    text-shadow: 2px 2px 2px black;
}

.pedir a span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to right, transparent, rgb(235, 248, 52));
    animation: animate1 2s linear infinite;
}
@keyframes animate1{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform:translateX(100%);
    }
}

.pedir a span:nth-child(2){
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, rgb(235, 248, 52));
    animation: animate2 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate2{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform:translateY(100%);
    }
}

.pedir a span:nth-child(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 4px;
    background-image: linear-gradient(to left, transparent, rgb(235, 248, 52));
    animation: animate3 2s linear infinite;
}
@keyframes animate3{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform:translateX(-100%);
    }
}

.pedir a span:nth-child(4){
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-image: linear-gradient(to top, transparent, rgb(235, 248, 52));
    animation: animate4 2s linear infinite;
    animation-delay: 1s;
}
@keyframes animate4{
    0%{
        transform: translateY(100%);
    }
    100%{
        transform:translateY(-100%);
    }
}




.pedir:active,
.pedir:hover{
    box-shadow: 0px 0px 20px red, 0px 0px 20px white;
    transform: translateY(3px);
    transition: .5s;
}

footer {
    height: 50px;
    width: 100vw;
    font-size: 13.5px;
    background: #eee;
    text-align: center;
    padding-top: 10px;
}


@media (min-width: 800px){
    .pedir a{
        font-size: 20px;
    }

    .pagamento h3{
        font-size: 30px;
    }

    .pagamento form{
        font-size: 20px;
    }


}
@media (min-width: 1200px){
    .pedir a{
        font-size: 23px;
    }

    .pagamento h3{
        font-size: 35px;
    }

    .pagamento form{
        font-size: 20px;
    }
}


.radio-pagamento{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagamento form{
    text-align: left;
}

@media (max-width: 460px){
    .pedir a{
        font-size: 14px;
    }
}






